/build/
/dist/
/temps-code/
/temps-txt/
/databases/
/loginLog.txt
/nbproject/
/syncLog.txt
/updateLog.txt
/temps/
/dll/
/window_dump.xml
*.bat
*.sh
*.db
*.database
/databases/database.db
/nbproject/private/private.properties
/nbproject/project.properties
/temps-videos/
*.properties
